.text-lowercase{
    color: red;
    background-color: aquamarine;
    font-weight: bold;
}

.AlumnodeAntoñico{
    color: red;
    background-color: aquamarine;
    font-weight: bold;
}

.ProfesorDAW2{
    color: aquamarine;
    background-color: red;
    font-weight: lighter;
}

.WebDeveloper {
    color:pink;
    background-color: antiquewhite;
}

.TeamLeader {
    color:pink;
    background-color: antiquewhite;
}

.WebDesigner{
    color:pink;
    background-color: antiquewhite;
}